.form-container *,
.form-container *:before,
.form-container *:after{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.form-radio,
.form-checkbox {
	*zoom: 1;
}

.form-checkbox:before,
.form-checkbox:after,
.form-radio:before,
.form-radio:after,
.form-rate:after,
.form-rate:before{
	display: table;
	content: "";
}

.form-radio:after,
.form-checkbox:after,
.form-rate:after{
	clear: both;
}

.form-container * {
	line-height: 1.42857;
}
.form-container .wpb_row{
	margin-bottom: 15px;
}
span.form-error{
	clear: both;
    color: #d40707;
    display: block;
    float: none;
    font-size: 12px;
    width: 100%;
    font-weight: normal;
}
@media (max-width: 768px) {
	.form-container .wpb_row .wpb_column{
		margin-bottom: 15px;
	}
}
.form-group{
	position: relative;
}
.form-group .form-label,
.form-group label{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom:5px;
}
.form-group label .required{
	color: #d40707 !important;
	font-weight: normal;
	font-size: 12px;
}
.form-group .form-control {
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    border-radius:0;
    margin: 0;
}
.form-group select[multiple].form-control, 
.form-group select[size].form-control {
    height: auto;
}
.form-group textarea.form-control {
    height: auto;
    min-height: 150px;
}
.form-group input[type="file"] {
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 0;
    margin: 0;
}
.form-group .form-control:focus{
	border-color: rgb(102, 175, 233);
    outline: 0 none;
    border-radius:0;
    margin: 0;
}
.form-group .form-control[disabled],
.form-group .form-control[readonly] {
    background-color: rgb(238, 238, 238);
    cursor: not-allowed;
    opacity: 1;
}
.form-group .form-help{
	display: block;
    font-size: 12px;
    margin-top: 5px;
}
.form-input,
.form-select,
.form-file,
.form-textarea{
	position: relative;	
}
.form-group .form-checkbox,
.form-group .form-radio{
	display: block;
}
.form-group .form-checkbox label,
.form-group .form-radio label{
	cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding-left: 20px;
    vertical-align: middle;
    margin: 0 10px 0 0;
    float: left;
}
.form-group .form-checkbox input,
.form-group .form-radio input{
	float: left;
    margin:4px 0 0 -20px;
    line-height: normal;
    border: none;
}
.form-inner{
	margin-bottom: 15px;
}
.form-group .form-checkbox input[type="checkbox"]{
	
}
.form-group .form-radio input[type="radio"]{
	
}

.form-input.form-has-add-on  .form-control{
	padding-right: 42.5px;
}

.form-group .form-add-on{
	display: block;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.form-submit,
.form-submit:hover,
.form-submit:active,
.form-submit:focus{
    position: relative;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    height: 39px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 0 25px;
    text-decoration: none;
    background: #57bb58;
     border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 14px;
    font-weight: 700;
    -moz-opacity: 0.8;
   -khtml-opacity: 0.8;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=80);
   opacity: 0.8;
   box-shadow:none;
   -moz-box-shadow:none;
   -webkit-box-shadow:none;
}
.form-submit:hover,
.form-submit:active,
.form-submit:focus{
	-moz-opacity: 1;
  -khtml-opacity: 1;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.form-submit-label {
  -moz-opacity: 1;
  -khtml-opacity: 1;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.form-submit-label-hidden{
	-moz-opacity: 0;
  -khtml-opacity: 0;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.form-submit-spinner {
    background: url("../images/default-loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none;
}
.form-action{
	
}
.form-action:before,
.form-action:after{
	display: table;
	content: "";
}

.form-action:after{
	clear: both;
}
.form-file{
	
}
.form-group .form-file label{
	display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
.form-group .form-file .form-control{
	cursor: text;
	background: none;
}
.form-file-button{
	background-color: #222;
    bottom: 0;
    color: #fff;
    float: none;
    font-size: 90%;
    font-weight: 300;
    overflow: hidden;
    margin: 4px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
.form-file-button i{
	display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-top: -4px;
    vertical-align: middle;
}
.form-group .form-file input[type=file]{
	cursor: pointer;
    opacity: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
    background: none repeat scroll 0 0 #fff;
    outline: medium none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    z-index: -1;
    width: 100%;
    height: 40px;
}

.form-hidden{
	display: none;
}

@media (min-width: 767px) {
	.form-horizontal .form-label{
		width: 33.33%;
		float: left;
		padding-top: 7px;
		padding-right: 20px;
	}
	.form-horizontal .form-input,
	.form-horizontal .form-textarea,
	.form-horizontal .form-select,
	.form-horizontal .form-file,
	.form-horizontal .form-radio,
	.form-horizontal .form-checkbox,
	.form-horizontal .form-slider,
	.form-horizontal .form-rate,
	.form-horizontal .form-captcha{
		float: left;
		width: 66.67%;
	}
}
.form-flat {
}
.form-flat .form-input input,
.form-flat .form-file input[type=text],
.form-flat .form-captcha input, 
.form-flat .form-select select, 
.form-flat .form-textarea textarea {
    appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
    background: none repeat scroll 0 0 #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #404040;
    display: block;
    height: 40px;
    outline:none;
    width: 100%;
}
.form-flat .form-select i {
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    top: 0;
}
.form-flat .form-radio input[disabled] + i, 
.form-flat .form-checkbox input[disabled] + i,
.form-flat .form-select select[disabled] + i{
	background: none repeat scroll 0 0 rgb(238, 238, 238);
	cursor: not-allowed;
}
.form-flat .form-select select[multiple] {
    height: auto;
}
.form-flat .form-select select[multiple] + i {
    display: none;
}
.form-flat .form-radio label, 
.form-flat .form-checkbox label {
    color: #404040;
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 4px;
    padding-left: 22px;
    position: relative;
}
.form-flat .form-radio input, 
.form-flat .form-checkbox input {
    left: -9999px;
    position: absolute;
}
.form-flat .form-radio i, 
.form-flat .form-checkbox i {
    background: none repeat scroll 0 0 #fff;
    border-style: solid;
    border-width: 2px;
    display: block;
    height: 17px;
    left: 0;
    outline: medium none;
    position: absolute;
    top: 5px;
    width: 17px;
}
.form-flat .form-radio i {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.form-flat .form-radio input + i:after, 
.form-flat .form-checkbox input + i:after {
    opacity: 0;
    position: absolute;
    transition: opacity 0.1s ease 0s;
    -moz-transition: opacity 0.1s ease 0s;
    -webkit-transition: opacity 0.1s ease 0s;
}
.form-flat .form-radio input + i:after {
    border-radius: 50%;
    content: "";
    height: 5px;
    left: 4px;
    top: 4px;
    width: 5px;
}
.form-flat .form-checkbox input + i:after {
    content: "\f00c";
    font: 12px/16px FontAwesome;
    height: 15px;
    left: -1px;
    text-align: center;
    top: -2px;
    width: 15px;
}
.form-flat .form-radio input:checked + i:after, 
.form-flat .form-checkbox input:checked + i:after {
    opacity: 1;
}
.form-flat .form-radio, 
.form-flat .form-checkbox {
   
}
.form-flat .form-radio:after, 
.form-flat .form-checkbox:after {
    clear: both;
    content: "";
    display: table;
}
.form-flat .form-radio label,
.form-flat .form-checkbox label {
    cursor: pointer;
    float: left;
    font-size: 15px;
    line-height: 27px;
    margin-right: 30px;
}
.form-flat .form-input input, 
.form-flat .form-file input[type=text],
.form-flat .form-captcha input,
.form-flat .form-select select, 
.form-flat .form-textarea textarea, 
.form-flat .form-radio i, 
.form-flat .form-checkbox i {
    border-color: #e5e5e5;
    transition: border-color 0.3s ease 0s;
    -moz-transition: border-color 0.3s ease 0s;
    -webkit-transition: border-color 0.3s ease 0s;
}
.form-flat .form-input:hover input, 
.form-flat .form-captcha:hover input,
.form-flat .form-file:hover input[type=text],
.form-flat .form-select:hover select, 
.form-flat .form-textarea:hover textarea,
.form-flat .form-radio label:hover i,
.form-flat .form-checkbox label:hover i {
    border-color: #909090;
}
.form-flat .form-radio input + i:after{
	background-color:#222;
}
.form-flat .form-checkbox input + i:after{
	color:#222;
}
.form-flat .form-input input:focus, 
.form-flat .form-captcha input:focus,
.form-flat .form-file:hover input[type=text]:focus,
.form-flat .form-select select:focus, 
.form-flat .form-textarea textarea:focus,
.form-flat .form-radio input:checked + i, 
.form-flat .form-checkbox input:checked + i {
    border-color: #222;
}

.form-flat .ui-slider {
    background: none repeat scroll 0 0 #fff;
    border: 3px solid #e5e5e5;
    height: 3px;
    margin: 10px 0 20px;
    position: relative;
}
.form-flat .ui-slider-handle {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #e5e5e5;
    height: 18px;
    margin: -8px 0 0 -8px;
    outline: medium none;
    position: absolute;
    -moz-transition: border-color 0.3s ease 0s;
    -webkit-transition: border-color 0.3s ease 0s;
    transition: border-color 0.3s ease 0s;
    width: 18px;
    z-index: 20;
}
.form-flat .ui-slider-range{
	display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 10;
    top: -3px;
    left: -3px;
    border: 3px solid #909090;
}

.form-flat .form-rate{
	float: right;
}

.form-flat .form-rate input{
	left: -9999px;
	position: absolute;
}

.form-flat .form-rate-star {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 20px;
    height: 17px;
    line-height: 17px;
    margin-top: 3px;
    padding: 0 2px;
    -moz-transition: color 0.3s ease 0s;
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    color: #e5e5e5;
}
.form-flat .form-rate-star i{
	line-height: 1;
}
.form-flat .form-rate input + .form-rate-star:hover,
.form-flat .form-rate input + .form-rate-star:hover ~ .form-rate-star {
    color: #fd7337;
}
.form-flat .form-rate input:checked ~ .form-rate-star {
    color: #fd7337;
}
.form-captcha{
	position: relative;
}
.form-captcha .form-captcha-img{
    right: 4px;
    position: absolute;
    top:4px;
    bottom:4px;
    background:url("../images/captcha-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 100px;
}
.form-captcha .form-captcha-img:before{
	border: 1px solid #e5e5e5;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index:1;
}
.form-flat .form-input input:hover ~ .form-captcha-img,
.form-flat .form-input input:focus ~ .form-captcha-img{
   border-color:#222;
}
.form-captcha .form-captcha-img img{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: -15px;
    position: relative;
    top: 50%;
}
.form-input  .minicolors-theme-bootstrap .minicolors-swatch{
	bottom: 4px;
    display: block;
    height: auto;
    left: 4px;
    position: absolute;
    right: 0;
    top: 4px;
}
.form-input .minicolors-theme-bootstrap .minicolors-swatch:before{
	border: 1px solid #e5e5e5;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index:1;
}
.form-message{
	padding:0px 0 15px;
}

.form-pop-overlay{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1000;
    display: none;
}
.form-popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
	overflow-x: hidden;
    overflow-y: auto;
}
.form-popup-container{
	background: none repeat scroll 0 0 #fff;
    margin: 40px auto 30px;
    position: relative;
    width: 600px;
    overflow: hidden;
}
@media (max-width: 767px) {
	.form-popup-container{
		background: none repeat scroll 0 0 #fff;
	    margin: 10px;
	    position: relative;
	    width: auto !important;
	}
}
.form-popup-header{
	position: relative;
	padding: 0 0 20px 0;
	margin: 0;
}
.form-popup-header h3{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
}
.form-popup-close{
	color: #000;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
     -moz-opacity: 0.2;
   -khtml-opacity: 0.2;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=20)";
   filter: alpha(opacity=20);
    opacity: 0.2;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 6px;
    right: 10px;
}
.form-popup-close:hover{
   -moz-opacity: 0.5;
   -khtml-opacity: 0.5;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter: alpha(opacity=50);
   opacity: 0.5;
}

.form-popup-body{
    margin: 0;
    padding:0 20px 20px;
}
.form-icon-pos-left .form-add-on{
	right:auto;
	left:0;
}
.form-icon-pos-left .form-input.form-has-add-on .form-control{
	padding-right: 6px;
	padding-left:35px;
}
/* Tooltip */
.tooltip{position:absolute;z-index:1030;display:block;visibility:visible;font-size:12px;line-height:1.4;opacity:0;filter:alpha(opacity=0)}.tooltip.in{opacity:.9;filter:alpha(opacity=90)}.tooltip.top{margin-top:-3px;padding:5px 0}.tooltip.right{margin-left:3px;padding:0 5px}.tooltip.bottom{margin-top:3px;padding:5px 0}.tooltip.left{margin-left:-3px;padding:0 5px}.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;text-decoration:none;background-color:#000;border-radius:4px}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-left .tooltip-arrow{bottom:0;left:5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-right .tooltip-arrow{bottom:0;right:5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-left .tooltip-arrow{top:0;left:5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-right .tooltip-arrow{top:0;right:5px;border-width:0 5px 5px;border-bottom-color:#000}
	
	
